body, html{
  padding: 0;
  margin: 0;
  overflowX: hidden;
  background: rgb(172, 161, 161);
}
.contact-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  padding: 0;
}
.container{
  padding: 0;
  margin-top: 50vh;
  background: linear-gradient(90deg,#650202d0,#720404cf 200%);
  width: 100%;
  height: 140vh;
  transform: 
 skewY(-12deg);
position: absolute;
  overflow-Y: hidden;
  z-index: 1;
}

.rect1{
  margin: 0;
  width: 30vw;
  background: rgb(255, 2, 2);
  opacity: 0.3;
  height: 5vh;
  float: left;
}
.rect2{
  margin: 0;
  width: 20vw;
  background: rgb(255, 0, 0);
  opacity: 0.4;
  height: 5vh;
  float: left;
  clear: left;
}
.rect3{
  margin:;
  width: 20vw;
  background: rgb(255, 3, 3);
  opacity: 0.5;
  height: 5vh;
  float: right;
}
.rect4{
  margin: 0;
  width: 30vw;
  background: rgb(241, 1, 1);
  opacity: 0.3;
  height: 5vh;
  float: right;
  clear: right;
}
.content-container{
 margin: 50vh 10vw;
  position: absolute;
  z-index: 20;
}

form{
  background: rgb(172, 161, 161);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-family:inherit;
  font-weight: bold;
}

h2 {
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size:xx-large;
}

th {
  
}

td {

}

.btn-2 {
  background: #650202d0;
  background: linear-gradient(0deg, #b30707d0 0%, #db2828cf 100%);
  border: none;  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#add-task-header, #task-list-header {

}

table {
  
}

#task-table-div {
  display:flex;
  justify-content: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#task-table {

}

#list-item-row {
 
}

#form-div {
  width: 100%;
  display: relative;
  
}

#task-name, #priority, #due-date {

}

#submit-button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center{
  text-align: center;
  margin: 0 auto;
}